body{
    background: #000;
    display: flex;
    justify-content: center;
    min-height: 97vh;
    align-items: center;
    font-family: cursive;
}

.content{
    position: relative;
}

.content h2{
    color: #fff;
    font-size: 5em;
    letter-spacing: 5px;
    position: absolute;
    transform: translate(-50%, -50%);
}

.content h2:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 2px rgb(166, 0, 255);
}

.content h2:nth-child(2){
    color: orange;
    animation: animate .4s ease-in-out infinite;
}

@keyframes animate{
    0%,
    100%{
        clip-path: polygon(
            0% 45%,
            16% 44%,
            33% 50%,
            54% 60%,
            70% 61%,
            84% 59%,
            100% 52%,
            100% 100%,
            0% 100%
        );
    }

    50%{
        clip-path: polygon(
            0% 45%,
            16% 44%,
            33% 50%,
            54% 60%,
            70% 61%,
            84% 59%,
            100% 52%,
            100% 100%,
            0% 100% 
        )
    }
}